<div class="list-sizer">
  <label for="page-size" class="sr-only">Antal resultat</label>
  <select id="page-size" value={{@model}} {{on "change" this.sizeChanged}}>
    {{#each this.availableSizes as |size|}}
      <option value={{size.value}} selected={{if (eq @model size.value) true false}}>{{size.label}}</option>
    {{/each}}
  </select>
</div>
