
<button type="button" class="primary show-facets-button icon" {{on "click" this.toggleFacetContainer}}>Filtrera</button>

<section class="facet-container {{if this.loading "loading"}} {{if this.facetContainerOpen "open"}}">
  <h2>Välj filter</h2>
  <ul class="facets">
    {{#each this.sortedFacets as |facet|}}
      <li>
        <button type="button" class="facet-button icon {{if facet.open "open"}}" {{on "click" (fn this.toggleFacet facet)}}>
          {{t (concat @facetType ".fields." facet.name) }}
          {{#if (eq facet.type "terms")}}
            ({{if (eq facet.items.length 100) "100+" facet.items.length}})
          {{/if}}
        </button>
{{!--
        {{#if (eq facet.type "terms")}}
          <FacetTerm @facetType={{@facetType}} @facet={{facet}} @setFilter={{@setFilter}} />
        {{else if (eq facet.type "date-histogram")}}
          <FacetDateHistogram @facetType={{@facetType}} @facet={{facet}} @setFilter={{@setFilter}} />
        {{else if (eq facet.type "histogram")}}
          <FacetHistogram @facetType={{@facetType}} @facet={{facet}} @setFilter={{@setFilter}} />
        {{/if}}
         --}}
      </li>
    {{/each}}
  </ul>
</section>
{{! template-lint-disable no-invalid-interactive }}
<div class="overlay" {{on "click" this.toggleFacetContainer}}></div>

{{#if this.selectedItems.length}}
  <section class="selected-items {{if this.loading "loading"}}">
    <h2>Valda filter</h2>
    {{#each this.selectedItems as |item|}}
      <button type="button" class="icon" {{on "click" (fn @removeFilter item.filter item.value)}}>
        {{t (concat @facetType ".fields." item.filter) }}: {{t (concat @facetType ".values." item.filter "." item.name) fallbackText=item.name }}

        {{#if (eq item.type "terms")}}
          ({{format-number item.count}})
        {{/if}}
      </button>
    {{/each}}
  </section>
{{/if}}
