<div class="row">
  <div class="image-container rough-borders" style={{rough-seed-style this}}>
    <img src="/api/profile-image/{{@model.user.id}}/{{@model.user.name}}" alt="" role="presentation" />
    <span class="name">{{@model.user.name}}</span>
  </div>
  <div class="project-list">
    {{#each @model.projects as |project|}}
      <PlanningBoardProject @model={{project}} @schedule={{@model}} @projects={{this.unusedProjects}} @setProjectTime={{@setProjectTime}} />
    {{/each}}
    <button type="button" {{on "click" (fn @addProject @model)}}>Lägg till projekt</button>
  </div>
  <div>
    <PlanningBoardDay @day="Monday" @statuses={{@model.statuses}} />
  </div>
  <div>
    <PlanningBoardDay @day="Tuesday" @statuses={{@model.statuses}} />
  </div>
  <div>
    <PlanningBoardDay @day="Wednesday" @statuses={{@model.statuses}} />
  </div>
  <div>
    <PlanningBoardDay @day="Thursday" @statuses={{@model.statuses}} />
  </div>
  <div>
    <PlanningBoardDay @day="Friday" @statuses={{@model.statuses}} />
  </div>
</div>