<div class="project rough-borders">
  <label for={{this.projectInputId}} class="sr-only">Kundprojekt</label>
  <SimpleSelect id={{this.projectInputId}} @value={{@model.projectId}} disabled={{this.disableSelect}} @onChange={{this.projectChanged}} as |s|>
    <s.option @value="">Välj kund</s.option>
    {{#each @projects as |project|}}
      <s.option @value={{project.id}}>{{project.customer.shortName}} {{project.name}}</s.option>
    {{/each}}
  </SimpleSelect>

  <label for={{this.timeInputId}} class="sr-only">Dagar planerade för projektet</label>
  <Input @type="text" @value={{@model.time}} id={{this.timeInputId}} {{on "blur" this.timeChanged}} />
</div>