{{page-title "Startsida"}}

<section class="start-page">
  <div>
    <h1>Songbird</h1>

    <p>Detta är en liten app för att hantera fika-kompisar och kanske något annat som vi i framtiden bygger i Vulture 2 men aldrig kommer till skott med.</p>
  </div>
  <aside class="rough-borders">
    <h2>Välkommen!</h2>
    <img src="/api/profile-image/{{this.me.userId}}/{{this.me.name}}" alt="" role="presentation" />
    <span>{{this.me.name}}</span>

    <h2>Fika-kompisar</h2>
    <ul>
      {{#each this.currentFikaBuddies as |buddy|}}
        <li>
          <img src="/api/profile-image/{{buddy.id}}/{{buddy.name}}" alt={{buddy.name}} title={{buddy.name}} />
        </li>
      {{else}}
        <li>Du har inga fika-kompisar denna vecka.</li>
      {{/each}}
    </ul>
  </aside>
</section>